{% extends "base_footer.html" %}
{% load static %}

{% block footer_header %}
    <img class='h-20 m-auto' src="{% static 'aventro-edge.png' %}" alt="aventro edge solutions logo">
{% endblock footer_header %}

{% block other_links %}
    <h4 class='text-4xl font-inter font-black mb-4'>Links</h4>
    <a href="{% url 'home' %}" class=''><li>Services</li></a>
    <a href="{% url 'about_us' %}" class=''><li>About us</li></a>
    <a href="{% url 'contact_us' %}?app=edge_solutions" class=''><li>Contact us</li></a>
{% endblock other_links %}

{% block email %}
    <a href="mailto:edgesolutions@aventrogroup.com">edgesolutions@aventrogroup.com</a>
{% endblock email %}