<div>
    <h4 class='bg-cardinal p-2 text-white uppercase w-fit font-bold text-xl '>Currency Exchange Services</h4>
    <p class='p-4 ml-4 border-l border-l-gray'>Our currency exchange services offer competitive rates for major global currencies, catering to travelers, businesses, and international students. We ensure quick and secure transactions for buying and selling foreign currency, providing a seamless and reliable experience for our customers.</p>
</div>

<br>
<br>

<div>
    <h4 class='bg-cardinal p-2 text-white uppercase w-fit font-bold text-xl '>Corporate Foreign Exchange Solutions</h4>
    <p class='p-4 ml-4 border-l border-l-gray'>We provide businesses with tailored forex solutions to manage international transactions, offering assistance with currency risk management and hedging strategies. Our services enable seamless cross-border payments and trade financing, ensuring efficient and secure global transactions.</p>
</div>