{% load static %}
<section>
  <section class='bg-cardinal text-white py-8 px-16  text-center'>
    <h2 class='text-7xl font-inter font-black mb-2'>Aventro Group</h2>
    <p class='text-xl  font-lora'>
      "Aventro" (adventure, or new ventures), the name "Aventro" symbolizes
      innovation, versatility, and a forward-thinking approach to delivering
      tailored solutions for businesses and individuals. Aventro Group is a
      conglomerate of companies dedicated to empowering clients through expert
      consultancy, cutting-edge technology, and sustainable practices across
      various industries. Our mission is to drive growth, create value, and
      foster resilience in every sector we serve. With a customer-first
      philosophy and a commitment to excellence, Aventro strives to be the
      preferred partner for businesses and communities worldwide.
    </p>
  </section>
  <section class='grid grid-cols-4 bg-gray *:brightness-[100]  *:m-auto gap-20'>
    <a href=""><img src="{% static 'aventro-edge.png' %}" alt="Aventro Group Logo"></a>
    <a href="{% url 'home' %}"><img src="{% static 'aventro-insurance.png' %}" alt="Aventro Group Logo"></a>
    <a href=""><img src="{% static 'aventro-realestate.png' %}" alt="Aventro Group Logo"></a>
    <a href=""><img src="{% static 'aventro-bdc.png' %}" alt="Aventro Group Logo"></a>
  </section>
</section>
