{% extends "base_footer.html" %}
{% load static %}

{% block footer_header %}
    <img class='h-20 m-auto' src="{% static 'aventro-insurance.png' %}" alt="aventro insurance brokerage logo">
{% endblock footer_header %}

{% block other_links %}
    <h4 class='text-4xl font-inter font-black mb-4'>Links</h4>
    <a href="{% url 'home' %}#coverage" class=''><li>What We Cover</li></a>
    <a href="" class=''><li>Reinsurance Broking</li></a>
    <a href="" class=''><li>Risk Management</li></a>
    <a href="" class=''><li>Employee Benefits</li></a>
{% endblock other_links %}

{% block email %}
    <a href="mailto:insurancebrokers@aventrogroup.com">insurancebrokers@aventrogroup.com</a>
{% endblock email %}

